@mixin widget() {
    /*$vertical-spacing: $internal-spacing;
    @if ($theme-widget-doubleSpacing == 1) {
      $vertical-spacing: $internal-spacing *2;
    }
    @include vertical-spacing($vertical-spacing);
  */
    .widget__title {
        font: {
            size: 87.5%;
            weight: 700;
        }
        letter-spacing: 0;
        margin-bottom: $internal-spacing;
    }
}

@mixin button-like($foreground: $color-primary, $background: $color-inverted, $border: 'normal') {

    @if $border == 'no-border' {
        border-color: $background;
    }
    @else {
        border-color: $foreground;
    }
    background-color: $background;
    color: $foreground;

    &:focus, &:hover {
        @if $border == 'no-border' {
            border-color:   lighten($background, 15);
        }
        @else {
            border-color:   lighten($foreground, 15);
        }
        background-color: lighten($background, 15);
        color:          lighten($foreground, 15);
        outline: none;

    }

}

.widget {
    @include widget;
}





/*---------------------------*\
   #NAVIGATION
\*---------------------------*/

.nav {
    @include reset-spacing();
}

    .nav__item {
        @include inline-block-box();
        margin-left: -0.7ex;
        list-style: none;
        position: relative;
    }

        .nav__caption {
            @include inline-block-box();
            cursor: pointer;
            text-decoration: none;
        }

        [aria-haspopup="true"] {

            .nav__caption::after {
                @include arrow('down', .4em, $color-primary);
                position: absolute;
                right: .3em;
                top:   50%;
            }

            .nav__caption:focus::after, .nav__caption:hover::after {
                @include arrow('down', .4em, $color-highlight);
            }

        }

    .nav__current {
        .nav__caption,
        .nav__caption:focus, .nav__caption:hover {
            cursor: default;
        }
    }


.main-nav {

    .nav__caption {
        font-weight: 600;
        padding: $internal-spacing;
    }

    .nav__current {

        .nav__caption {
            background: $color-primary;
            color: $color-inverted;
        }

    }

}


.nav-tab {
    @include vertical-spacing($internal-spacing*3);
}

    .tab__caption {
        @include small-uppercase-title;
        color: $color-label;
        padding: .3em 1em;
    }

    .nav__current {

        .tab__caption {
            color: $color-primary;
        }

    }

    .tab__item {
        border-left: $border-default-setting;
    }

    .tab__item:first-child {
        border: none;
    }





/*---------------------------*\
   #BREADCRUMB
\*---------------------------*/

.main-breadcrumb {
    @include reset-spacing();
}

    .breadcrumb__item {
        @include solid-box(.7em .5em .7em 0);
        font-size: 81.25%;
    }

        .breadcrumb__item::after {
            content: '/';
            font-weight: 700;
            float: right;
            margin-left: .7em;
            margin-top:  .1em;
        }

    .breadcrumb__item {
        color: $color-neutral;
    }

    .breadcrumb__item.nav__current::after {
        display: none;
    }

.nav-root {
    /*
    content: ">>";
    float: left;
    margin-right: $internal-spacing/2;
      */
}


// Vertical navigation

.toolbar {
    @include inline-block-box();
}





/*---------------------------*\
   #LISTS
\*---------------------------*/

.def-list, .icon-list, .tab-list {
    @include reset-spacing();
    list-style-type: none;
}

.list__item, .def-list__item,
.media-item, .media__content {
    @include clear-block;
}

    .media__subject, .def__title {
        float: left;
    }

    .def-list__item {
        margin-bottom: $internal-spacing/2;
    }

        .def__title {
            margin-right: $internal-spacing;
            text-align: right;
            min-width: 40%;
        }

        .def__description {
            @include clear-block;
            font-size: 92%;
        }


//TODO move to the 'base' section
.button, button {
    @include inline-block-box();
    @include button-like($color-primary, $color-inverted);
    border: 1px solid;
    font: {
        weight: 600;
        size: 87.5%;
    };
    line-height: 1;
    padding: .5em .8em;
    text-decoration: none;
    text-align: center;
}

    .button--inverted {
        @include button-like($color-inverted, $color-primary, 'no-border');
    }

    .button--transparent {
        background-color:   transparent;
        border-color:       transparent;
    }

    .button--success {
        @include button-like($color-success);
    }

    .button--error {
        @include button-like($color-error);
    }

    .button--warning {
        @include button-like($color-warning);
    }

    .button--neutral {
        @include button-like($color-label);
    }

    .button--block {
        display: block;
    }

.action-bar {
    text-align: right;
}

hr {
    height: 0;
    border: none;
    border-top: $border-default-setting;
}