/*---------------------------*\
   #TEXT-RE-SIZE
\*---------------------------*/


.text--very-small {
    font-size: 75%;
}

.text--small {
    font-size: 87.5%;
}

.text--normal {
    font-size: 100%;
}

.text--big {
    font-size: 150%;
}

.text--very-big {
    font-size: 225%;
}

.text--huge {
    font-size: 400%;
}