// Mixin adds inline-block display attribute
// Fix IE7 bug, adding hacks (only if $ie-compatibility value is set equal 1 in main _variables.css file)
@mixin reset-spacing() {
    margin:  0;
    padding: 0;
}

@mixin inline-block-box($ie-mode: $ie-compatibility) {
    @if ($ie-mode == 1) {
        *display: inline;
        *zoom: 1;
    }
    display: inline-block;
}

@mixin clear-block() {
    overflow: hidden;
}

// adds vertical spacing outside the element, accepts any measurement value as argument
// *** applicable only in (inline-)block elements
@mixin vertical-spacing($spacing: $internal-spacing) {
    margin-top: $spacing;
    margin-bottom: $spacing;
}

// adds inner spacing, accepts any measurement value as argument
@mixin solid-box($spacing: $internal-spacing) {
    padding: $spacing;
}

// horizontal centering of a container inside its parent element (only works with a set width container)
@mixin center-container {
    margin-left:  auto;
    margin-right: auto;
}

@mixin panel($background, $border-color) {
    background-color: $background;
    border-style: solid;
    border-color: $border-color;
    border-width: 1px 1px 3px 1px;
}


@mixin border-radius($size: 50%){
            border-radius:  $size;
    -webkit-border-radius:  $size;
       -moz-border-radius:  $size;
}

// --------------------------
// End of @mixin declarations
// --------------------------

.center-container {
    @include center-container();
    position: relative;
    // TODO remove the live above
}

.solid-box {
    @include solid-box();
}
/*

.panel-style {
    @include panel(lighten($color-neutral, 20), lighten($color-border, 10));
}

    .panel-style--primary {
        background-color: lighten($color-primary, 50);
        border-color: lighten($color-primary, 30);
    }
*/

.solid-box--half {
    @include solid-box($internal-spacing/2);
}

.vertical-spacing {
    @include vertical-spacing();
}

.vertical-spacing--2x {
    @include vertical-spacing($internal-spacing*2)
}

.horizontal-alignment--right {
    text-align: right;
}


.spacing-right--half {
    margin-right: $internal-spacing/2;
}

.spacing-right {
    margin-right: $internal-spacing;
}

.spacing-right--2x {
    margin-right: $internal-spacing*2;
}

.spacing-left--half {
    margin-left: $internal-spacing/2;
}

.spacing-left {
    margin-left: $internal-spacing;
}

.spacing-left--2x {
    margin-left: $internal-spacing*2;
}



.page__section {

    @include vertical-spacing($internal-spacing * 4);

    &--half, &--sub {
        @include vertical-spacing($internal-spacing * 2);
    }

}


.section__title,
.section__sub-title {
    margin-bottom: 1.5em;
}


.action-bar {
    margin-top: 1.5em;
}


/*---------------------------*\
   #UTILITIES
\*---------------------------*/


.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.full-wide { width: 100%; }

