// Defaults Variables
$ie-compatibility: 0;
/*$colors: (
  'primary': #009DDC,
  'secondary': #00A160,
  'neutral': #C7C8CA,
  'inverted': #fff,
  'border': #ccc
);*/
$body-text-color:  #000;
$background-color: #fff;
$color-primary:    #009DDC;
$color-secondary:  #00A160;
$color-neutral:    #C7C8CA;
$color-inverted:   #fff;
$color-border:     #ccc;
$color-highlight:  lighten($color-primary, 15%);
$color-shy:        desaturate($color-primary, 40%);
$color-link:       $color-primary;
$color-success:    $color-secondary;
$color-warning:    #F7931E;
$color-error:      #C1272D;
$color-info:       $color-primary;
$color-disabled:   $color-neutral;


// Font
$font-primary:    'Raleway', Helvetica, Arial, sans-serif;
$font-secondary:  'PT Serif', Georgia, Times, serif;
$font-base-size: 16px;
$font-base-weight: 400;
$base-line-height: 1.6;
$icon-name: 'icon';


// Layout variables
$internal-spacing: 20px;


// Grid System
$grid-fixed-width: 1144px;
$grid-gutter-size: 20px;
$wrapper-name: '.wrapper';
$grid-name: '.grid-container';
$grid-item-name: '.grid-item';
$size-name: '.size';
$percentage-grid-name: '.percentage-grid';
$fluid-grid-name: '.fluid-grid';


// Default theme variables
$theme-widget-doubleSpacing: 1;
$border-default-setting: 1px solid $color-border;


// Responsive utility configs
$visible-class-name: '.visible';
$hidden-class-name: '.hidden';
// End of Defaults