// Defaults Variables
$primary-color: #000;
$background-color: #fff;
$highlight-color: #f90;
$color: (
  'primary': #009DDC,
  'secondary': #00A160,
  'neutral': #C7C8CA
);
$primary-font:  'Source Sans Pro', Helvetica, Arial, sans-serif;
$secondary-font: 'Merriweather Sans', Georgia, Times, serif;
$font-size: 16px;
$propriedade: 'border';
$icon-name: 'icon';
// End of Defaults
