extends portal

block vars
    - pageTitle = 'Links'
    - magazineLike = true

block content

    +tabList
        +tabItem('tribunais', true) Tribunais
        +tabItem('ministerio-publico') Ministério Público
        +tabItem('poder-executivo') Poder Executivo
        +tabItem('poder-legislativo') Poder Legislativo
        +tabItem('outros-links') Outros Links

    .tab__content-container
        #tab-tribunais
            h3.section__sub-title Tribunais
            h4.section__sub-sub-title Tribunais Superiores
            <ul>
            <li><a href="STJ">Superior Tribunal de Justiça - STJ</a></li>
            <li><a href="STM">Superior Tribunal Militar - STM</a></li>
            <li><a href="STF">Supremo Tribunal Federal - STF</a></li>
            <li><a href="TST">Tribunal Superior do Trabalho - TST</a></li>
            <li><a href="TSE">Tribunal Superior Eleitoral - TSE</a></li>
            </ul>
            h4.section__sub-sub-title Tribunais Regionais Federais
            <ul>
            <li><a href="STJ">Tribunais de Justiça e de Alçada dos Estados e do Distrito Federal</a></li>
            <li><a href="STM">Tribunal Regional Federal da 2ª Região - Rio de Janeiro</a></li>
            <li><a href="STF">Tribunal Regional Federal da 3ª Região - São Paulo</a></li>
            <li><a href="TST">Tribunal Regional Federal da 4ª Região - Rio Grande do Sul</a></li>
            <li><a href="TSE">Tribunal Regional Federal da 5ª Região - Pernambuco</a></li>
            </ul>
            h4.section__sub-sub-title Tribunais Regionais do Trabalho
            <ul>
            <li><a href="##//2">Tribunal Regional do Trabalho da 10ª Região - Distrito Federal</a></li>
            <li><a href="##//2">Tribunal Regional do Trabalho da 11ª Região - Amazonas</a></li>
            <li><a href="##//2">Tribunal Regional do Trabalho da 12ª Região - Santa Catarina</a></li>
            <li><a href="##//2">Tribunal Regional do Trabalho da 13ª Região - Paraíba</a></li>
            <li><a href="##//2">Tribunal Regional do Trabalho da 14ª Região - Rondônia</a></li>
            <li><a href="##//2">Tribunal Regional do Trabalho da 15ª Região - Campinas</a></li>
            <li><a href="##//2">Tribunal Regional do Trabalho da 16ª Região - Maranhão</a></li>
            <li><a href="##//2">Tribunal Regional do Trabalho da 17ª Região - Espírito Santo</a></li>
            <li><a href="##//2">Tribunal Regional do Trabalho da 18ª Região - Goiás</a></li>
            <li><a href="##//2">Tribunal Regional do Trabalho da 19ª Região - Alagoas</a></li>
            <li><a href="##//2">Tribunal Regional do Trabalho da 1ª Região - Rio de Janeiro</a></li>
            <li><a href="##//2">Tribunal Regional do Trabalho da 20ª Região - Sergipe</a></li>
            <li><a href="##//2">Tribunal Regional do Trabalho da 21ª Região - Rio Grande do Norte</a></li>
            <li><a href="##//2">Tribunal Regional do Trabalho da 22ª Região - Piauí</a></li>
            <li><a href="##//2">Tribunal Regional do Trabalho da 23ª Região - Mato Grosso</a></li>
            <li><a href="##//2">Tribunal Regional do Trabalho da 24ª Região - Mato Grosso do Sul</a></li>
            <li><a href="##//2">Tribunal Regional do Trabalho da 2ª Região - São Paulo</a></li>
            <li><a href="##//2">Tribunal Regional do Trabalho da 3ª Região - Minas Gerais</a></li>
            <li><a href="##//2">Tribunal Regional do Trabalho da 4ª Região - Rio Grande do Sul</a></li>
            <li><a href="##//2">Tribunal Regional do Trabalho da 5ª Região - Bahia</a></li>
            <li><a href="##//2">Tribunal Regional do Trabalho da 6ª Região - Pernambuco</a></li>
            <li><a href="##//2">Tribunal Regional do Trabalho da 7ª Região - Ceará</a></li>
            <li><a href="##//2">Tribunal Regional do Trabalho da 8ª Região - Pará</a></li>
            <li><a href="##//2">Tribunal Regional do Trabalho da 9ª Região - Paraná</a></li>
            </ul>
