extends portal
block vars
    - var pageTitle = "Secretário-Geral do Ministério Público do Estado é homenageado pela Polícia Militar"
    //- var magazineLike = false
    - var suppressTitle = true
    - var pathWay = [{ label: 'Notícias', path: '/noticias-listar'}]

block content
    .reading-mode.slot-article.center-container(style="max-width: 840px; padding-left: 40px; padding-right: 40px;")
        .article.article--news

            .article--news__heading
                p.article--news__subject Segurança
                h2.article--news__title Secretário-Geral do Ministério Público do Estado é homenageado pela Polícia Militar
                p.article--news__summary Promotor de Justiça Rodrigo Stephanini recebe o Brasão de Reconhecimento da 5ª CIPM
                p.article--news__date-published <time datetime="2015-07-25T14:38">20 de Julho de 2015 <ins class="fa  fa-clock-o  spacing-left"></ins> 14h38</time>

            .article__body.article--news__body
                p O Secret&aacute;rio-Geral do Minist&eacute;rio P&uacute;blico do Estado de Mato Grosso do Sul, Promotor de Justi&ccedil;a Rodrigo Stephanini, foi agraciado com a concess&atilde;o do Bras&atilde;o de Reconhecimento da 5&ordf; Companhia de Pol&iacute;cia Militar (5&ordf; CIPM), em evento que aconteceu nesta quinta-feira (16/7/2015), &agrave;s 10h30min, em frente &agrave; unidade militar na Rua 26 de Agosto, 613, Centro da Capital. A homenagem foi &ldquo;em reconhecimento a vossa contribui&ccedil;&atilde;o para com as a&ccedil;&otilde;es de policiamento da 5&ordf; CIPM em prol da comunidade&rdquo;.
                p A concess&atilde;o do Bras&atilde;o de Reconhecimento da 5&ordf; CIPM destina-se a agradecer autoridades civis e militares, pelo efetivo apoio, dedica&ccedil;&atilde;o e colabora&ccedil;&atilde;o ao longo do primeiro ano de atividade da 5&ordf; CIPM; e aos policiais militares que se destacaram nas atividades de seguran&ccedil;a p&uacute;blica durante o per&iacute;odo de 2014/2015, pelo seu alto grau de profissionalismo e dinamismo no desempenho de suas atribui&ccedil;&otilde;es funcionais, contribuindo sobremaneira para elevar o bom nome da corpora&ccedil;&atilde;o.
                p O evento fez parte das comemora&ccedil;&otilde;es do primeiro ano daquela unidade militar, que &eacute; respons&aacute;vel pelo policiamento na regi&atilde;o considerada &ldquo;centro&rdquo; e que conta com uma tropa de 120 homens e mulheres. Tem como comandante o Tenente-Coronel PM O&eacute;liton Santana de Figueiredo.
                p O Minist&eacute;rio P&uacute;blico do Estado, por meio da Secretaria-Geral, contribuiu com doa&ccedil;&otilde;es de computadores, ares-condicionados, mesas, impressoras cadeiras e outros materiais para o bom trabalho dos policiais militares, conforme destacou o Comandante da Unidade Militar.
                p Na oportunidade, o Promotor de Justi&ccedil;a Rodrigo Stephanini afirmou que essas doa&ccedil;&otilde;es fazem parte de uma pol&iacute;tica da Procuradoria-Geral de Justi&ccedil;a em cooperar com outras institui&ccedil;&otilde;es face &agrave;s mudan&ccedil;as constantes no setor de inform&aacute;tica do Minist&eacute;rio P&uacute;blico do Estado. Os equipamentos entregues s&atilde;o devidamente revisados para que atendam as finalidades dos &oacute;rg&atilde;os que os recebem.
                p A cidade de Campo Grande est&aacute; subdividida, para fins de administra&ccedil;&atilde;o municipal, em sete grandes regi&otilde;es, denominadas Regi&otilde;es Urbanas (RU). A Pol&iacute;cia Militar, na distribui&ccedil;&atilde;o das &aacute;reas de atua&ccedil;&atilde;o de suas Unidades Operacionais, adotou a mesma divis&atilde;o de &aacute;reas. Assim sendo, estabeleceu-se a compet&ecirc;ncia operacional para atua&ccedil;&atilde;o da 5&ordf; CIPM sobre a RU-Centro. Dentro dessa &aacute;rea, delimitada por algumas das principais vias da Capital Sul-Mato-Grossense, encontram-se treze grandes bairros, com &aacute;rea total de pouco mais de 20 km&sup2;, e uma popula&ccedil;&atilde;o residente de, aproximadamente, 75 mil pessoas. A principal caracter&iacute;stica da regi&atilde;o &eacute; abrigar grande quantidade de estabelecimentos comerciais e banc&aacute;rios, apresentando-se, de fato, como centro comercial e financeiro de toda a Capital.
                p Segundo o Comandante da Unidade Militar, &ldquo;a import&acirc;ncia estrat&eacute;gica da regi&atilde;o se mostra evidenciada em alguns dados. O deslocamento di&aacute;rio de pessoas pelas vias da &aacute;rea central, com destaque para os meios de transporte coletivo; fazem com que a RU-Centro tenha uma popula&ccedil;&atilde;o flutuante di&aacute;ria de aproximadamente 300.000 pessoas por dia. Destaca-se ainda a presen&ccedil;a de diversos hospitais e outras unidades m&eacute;dicas. Some-se a isso o fato de que cerca de metade dos grandes estabelecimentos de ensino se localiza dentro da &aacute;rea, al&eacute;m de cerca de 120 pontos de saques ou estabelecimentos banc&aacute;rios&rdquo;.

                p Fotos: Pedro Centeno de Oliveira/Estagi&aacute;rio do MPMS