@charset "UTF-8";

@import "variables";
@import "layout";
@import "grid";
@import "typography";
@import "components";
@import "../font-awesome-4.3.0/css/font-awesome.min.css";
@import "helpers";

body {
    background: $background-color;
    color: $body-text-color;
}

a {
    color: $color-link;
    &:visited {
        color: $color-shy;
    }
    &:hover {
        color: $color-highlight;
    }
}
.page__header {
    border-top: 5px solid $color-secondary;
}

.wrapper {
    //border: 1px solid #e6e6e6;
}

.slot-breadcrumb {
    //background: #fafafa;
    //margin: $internal-spacing 0;
    padding: $internal-spacing/2 0;
    //border-bottom: 1px solid #e6e6e6;
}

#nav-access-keys,
#utility-bar,
.tab-list {
    text-align: right;
}

#utility-bar {
    //background: lighten($color-neutral, 15);
    //border-bottom: 1px solid $color-neutral;

    .button, button {
        @extend .button--neutral, .button--borderless, .button--transparent;
    }
    font-size: 82.5%;
}

#accessibility-panel { float: left; }

#nav-access-keys {
    @include solid-box($internal-spacing/2 0);
    font-size: 87.5%;
    display: none;

    a {
        color: $color-label;
        text-decoration: none;
        margin-right: $internal-spacing;
    }
}

//#main-search { display: none; }


.hotkey {
    @include inline-block-box();
    @include solid-box(.25em .6em);
    border: 1px solid $color-border;
    border-right-width: 2px;
    border-bottom-width: 2px;
}

.main-nav {
    border-bottom: 1px solid $color-primary;
    font-size: 81.25%;
    text-align: center;
    //text-transform: uppercase;
}

.main-nav .nav__current .caption {
    background: $color-primary;
    color: $color-inverted;
}

.widget__title {
    border-bottom: $border-secondary-setting;
    padding-bottom: .1em;
}

.sidebar .widget {
    //border-bottom: $border-default-setting;
    //@include solid-box($internal-spacing 0);
    margin-bottom: $internal-spacing*3;
}

.mpms-news {

    h3 {
        color: $color-primary;
        margin-top: 0.5em;
        margin-bottom: 1em;
        line-height: 1.1;
    }

    p {
        font-size: 94%;
    }

}

.def__title,
.calendar-like {
    font-weight: 600;
}

.date-list .media-item {
    margin-bottom: $internal-spacing/2;
}

.date-list .media__subject { margin-right: 20px; }

.calendar-like {
    background: lighten($color-neutral, 15);
    color: $body-text-color;
    text-align: center;
}

.calendar-like__day,
.calendar-like__month {
    padding: $internal-spacing/4 $internal-spacing/2
}
.calendar-like__month {
    @include small-uppercase-title();
}
.calendar-like__day {
    background: $color-label;
    color: $color-inverted;
    font-size: 125%;
    //border-bottom: $border-default-setting;
}

.calendar__month {
    margin-top: 40px;
}

.calendar__month-name {
    line-height: 2;
    @include small-uppercase-title(700);
    font-size: 100%;
}

.calendar__week-day {
    width: percentage(1/70);
    @include small-uppercase-title();
    padding: 1em 0;
}

.calendar__day { text-align: center; }
    .calendar__day > .caption, .calendar__week-day > .caption{
        display: block;
        padding-bottom: .7em;
        padding-top:    .7em;
        text-align: center;
    }


.action-bar {
    border-top: $border-default-setting;
    padding: $internal-spacing 0;
    text-align: right;
}



/* Main-search */
.form--search {
    @include inline-block-box();
    @include border-radius(35px);
    border: 1px solid $color-primary;
}
    #main-search-term {
        border: 0;
        padding: .5em;
    }


.search-as-icon {
    text-indent: -9999px;

    &::after {
        font-family: FontAwesome, sans-serif;
        content: '\f002'
    }
}
