@charset "UTF-8";

@import "variables";
@import "typography";
@import "layout";
@import "grid";

body {
  background: $background-color;
  color: $primary-color;
}
a {
  color: map-get($colors,'primary');
  &:visited {
    color: $shy-color;
  }
  &:hover {
    color: $highlight-color;
  }
}
.wrapper {
  //border: 1px solid #e6e6e6;
}
//.container { overflow: auto; }