/*$colors: (
  'primary': #009DDC,
  'secondary': #00A160,
  'neutral': #C7C8CA,
  'inverted': #fff,
  'border': #ccc
);*/
@import url(../font-awesome-4.3.0/css/font-awesome.min.css);
.center-container {
  margin-left: auto;
  margin-right: auto;
  position: relative; }

.solid-box {
  padding: 20px; }

/*

.panel-style {
    @include panel(lighten($color-neutral, 20), lighten($color-border, 10));
}

    .panel-style--primary {
        background-color: lighten($color-primary, 50);
        border-color: lighten($color-primary, 30);
    }
*/
.solid-box--half {
  padding: 10px; }

.vertical-spacing {
  margin-top: 20px;
  margin-bottom: 20px; }

.vertical-spacing--2x {
  margin-top: 40px;
  margin-bottom: 40px; }

.page__section {
  margin-top: 80px;
  margin-bottom: 80px; }
  .page__section--half, .page__section--sub {
    margin-top: 40px;
    margin-bottom: 40px; }

.section__title,
.section__sub-title {
  margin-bottom: 1.5em; }

.action-bar {
  margin-top: 1.5em; }

/**
 * Grid Mechanism
 *
 * #Description goes here
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
*/
.grid__container {
  overflow: hidden;
  margin-left: -30px; }

.grid__item {
  float: left; }
  .grid__item > .wrapper {
    margin-left: 30px; }

.size--16 {
  width: 73.375px; }

.size--15 {
  width: 78.26667px; }

.size--14 {
  width: 83.85714px; }

.size--13 {
  width: 90.30769px; }

.size--12 {
  width: 97.83333px; }

.size--11 {
  width: 106.72727px; }

.size--10 {
  width: 117.4px; }

.size--9 {
  width: 130.44444px; }

.size--8 {
  width: 146.75px; }

.size--7 {
  width: 167.71429px; }

.size--6 {
  width: 195.66667px; }

.size--5 {
  width: 234.8px; }

.size--4 {
  width: 293.5px; }

.size--3 {
  width: 391.33333px; }

.size--2 {
  width: 587px; }

.size--1 {
  width: 1174px; }

.percentage-grid--10, .block-size--10 {
  width: 10%; }

.percentage-grid--20, .block-size--20 {
  width: 20%; }

.percentage-grid--30, .block-size--30 {
  width: 30%; }

.percentage-grid--40, .block-size--40 {
  width: 40%; }

.percentage-grid--50, .block-size--50 {
  width: 50%; }

.percentage-grid--60, .block-size--60 {
  width: 60%; }

.percentage-grid--70, .block-size--70 {
  width: 70%; }

.percentage-grid--80, .block-size--80 {
  width: 80%; }

.percentage-grid--90, .block-size--90 {
  width: 90%; }

.percentage-grid--100, .block-size--100 {
  width: 100%; }

.percentage-grid--25, .percentage-grid--1-4, .block-size--25, .block-size--1-4 {
  width: 25%; }

.percentage-grid--1-3, .block-size--1-3 {
  width: 33.3333%; }

.percentage-grid--1-2, .block-size--1-2 {
  width: 50%; }

.percentage-grid--2-3, .block-size--2-3 {
  width: 66.6666%; }

.percentage-grid--75, .percentage-grid--3-4, .block-size--75, .block-size--3-4 {
  width: 75%; }

body {
  font-size: 16px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 400;
  word-spacing: .1em; }

p {
  line-height: 1.6;
  margin: 0; }
  .article p {
    margin: 0 0 1.6em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  margin: 0; }

.article {
  word-spacing: 0; }
  .article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
    margin: 2em 0 .8em 0; }
    .article h1:first-child, .article h2:first-child, .article h3:first-child, .article h4:first-child, .article h5:first-child, .article h6:first-child {
      margin-top: 0; }

.reading-mode .article, .reading-mode article {
  font-family: "Crimson Text", Georgia, Times, serif;
  word-spacing: .1em; }
  .reading-mode .article--news__heading, .reading-mode article--news__heading {
    text-align: center;
    margin-bottom: 60px; }
  .reading-mode .article--news__subject, .reading-mode article--news__subject {
    font-size: 75%;
    font-weight: 800;
    letter-spacing: 0;
    text-transform: uppercase;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 81.25%;
    letter-spacing: .4em;
    white-space: nowrap;
    position: relative; }
  .reading-mode .article--news__title, .reading-mode article--news__title {
    font-size: 240%;
    line-height: 1;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 1em; }
  .reading-mode .article--news__summary, .reading-mode article--news__summary {
    font-style: italic; }
  .reading-mode .article--news__dateline, .reading-mode article--news__dateline {
    display: inline-block;
    clear: both;
    border-top: 1px solid #e6e6e6;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    color: #C7C8CA;
    padding: 1em; }
  .reading-mode .article__body, .reading-mode article__body {
    font-size: 112.5%; }
  .reading-mode .article p, .reading-mode article p {
    margin: 0 0 1.4em;
    line-height: 1.4; }

strong {
  font-weight: 800; }

h6 {
  font-size: 100%; }

h5 {
  font-size: 110.0%; }

h4 {
  font-size: 130%; }

h3 {
  font-size: 160%; }

h2 {
  font-size: 210%;
  letter-spacing: -1px;
  line-height: 1.2; }

h1 {
  font-size: 290%;
  letter-spacing: -2px;
  line-height: 1.1; }

h6 {
  text-transform: uppercase; }

.footnotes {
  padding: 10px 0;
  margin: 20px 0;
  border-top: 2px solid #ccc;
  padding-left: 2em;
  font-size: 82%; }
  .footnotes__note {
    margin-bottom: 1em;
    line-height: 1.2; }

/*.first-paragraph::first-letter {
    float: left;
    font-size: 400%;
    line-height: .9;
    padding-right: .5ex;
    //font-family: $font-secondary;
    font-weight: $font-feature-weight;
}*/
.section__title {
  font-weight: 800; }
.section__sub-sub-title {
  font-size: 93.75%;
  font-weight: 600;
  text-transform: uppercase; }

.widget {
  /*$vertical-spacing: $internal-spacing;
  @if ($theme-widget-doubleSpacing == 1) {
    $vertical-spacing: $internal-spacing *2;
  }
  @include vertical-spacing($vertical-spacing);
*/ }
  .widget .widget__title {
    font-size: 87.5%;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 20px; }

/*---------------------------*\
   #NAVIGATION
\*---------------------------*/
.nav {
  margin: 0;
  padding: 0;
  margin-left: 0.7ex; }

.nav__item {
  display: inline-block;
  margin-left: -0.7ex;
  list-style: none;
  position: relative; }

.nav__caption {
  display: inline-block;
  cursor: pointer;
  text-decoration: none; }

[aria-haspopup="true"] .nav__caption::after {
  border: 0.4em solid transparent;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top-color: #009DDC;
  position: absolute;
  right: .3em;
  top: 45%; }
[aria-haspopup="true"] .nav__caption:focus::after, [aria-haspopup="true"] .nav__caption:hover::after {
  border: 0.4em solid transparent;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top-color: #2ac2ff; }

.nav__current .nav__caption,
.nav__current .nav__caption:focus, .nav__current .nav__caption:hover {
  cursor: default; }

.main-nav .nav__caption {
  font-weight: 600;
  padding: 1.5em; }
.main-nav .nav__current .nav__caption {
  border-bottom: 5px solid #009DDC;
  color: #009DDC; }

.nav-tab {
  margin: 0 0 60px; }

.tab__caption {
  font-size: 75%;
  font-weight: 800;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #666;
  padding: .3em 1em; }

.nav__current .tab__caption {
  color: #2ac2ff; }

.tab__item {
  border-left: 1px solid #ccc; }

.tab__item:first-child {
  border: none; }

/*---------------------------*\
   #BREADCRUMB
\*---------------------------*/
.breadcrumb__item {
  padding: 0.7em 0.5em 0.7em 0;
  font-size: 81.25%; }

.breadcrumb__item::after {
  content: '/';
  font-weight: 700;
  float: right;
  margin-left: .7em;
  margin-top: .1em; }

.breadcrumb__item {
  color: #666; }

.breadcrumb__item.nav__current::after {
  display: none; }

.breadcrumb__root::before {
  content: "\f015";
  font-family: FontAwesome, sans-serif;
  color: #009DDC; }

.nav-root {
  /*
  content: ">>";
  float: left;
  margin-right: $internal-spacing/2;
    */ }

.toolbar {
  display: inline-block; }
  .toolbar .separator {
    border-left: 1px solid #ccc;
    margin-right: .7ex; }

/*---------------------------*\
   #LISTS
\*---------------------------*/
.def-list, .icon-list, .tab-list, .date-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.list__item, .def-list__item,
.media-item, .media__content {
  overflow: hidden; }

.media__subject, .def__title {
  float: left;
  margin-right: 20px; }

.def-list__item {
  margin-bottom: 10px; }

.def__title {
  margin-right: 20px;
  text-align: right;
  min-width: 40%; }

.def__description {
  overflow: hidden;
  font-size: 92%; }

.button {
  display: inline-block;
  border: 1px solid;
  font-weight: 600;
  font-size: 87.5%;
  line-height: 1;
  padding: .65em .8em;
  text-decoration: none;
  text-align: center; }
  .button, .button:visited {
    border-color: #009DDC;
    background-color: #fff;
    color: #009DDC; }
  .button:focus, .button:hover {
    border-color: #2ac2ff;
    background-color: white;
    color: #2ac2ff;
    outline: none; }

.button--success, .button--success:visited {
  border-color: #00A160;
  background-color: #fff;
  color: #00A160; }
.button--success:focus, .button--success:hover {
  border-color: #00ed8e;
  background-color: white;
  color: #00ed8e;
  outline: none; }

.button--error, .button--error:visited {
  border-color: #C1272D;
  background-color: #fff;
  color: #C1272D; }
.button--error:focus, .button--error:hover {
  border-color: #dd575d;
  background-color: white;
  color: #dd575d;
  outline: none; }

.button--warning, .button--warning:visited {
  border-color: #F7931E;
  background-color: #fff;
  color: #F7931E; }
.button--warning:focus, .button--warning:hover {
  border-color: #fab668;
  background-color: white;
  color: #fab668;
  outline: none; }

.button--neutral, #utility-bar .button, #utility-bar button, .button--neutral:visited, #utility-bar .button:visited, #utility-bar button:visited {
  border-color: #666;
  background-color: #fff;
  color: #666; }
.button--neutral:focus, #utility-bar .button:focus, #utility-bar button:focus, .button--neutral:hover, #utility-bar .button:hover, #utility-bar button:hover {
  border-color: #8c8c8c;
  background-color: white;
  color: #8c8c8c;
  outline: none; }

.button--inverted, .button--inverted:visited {
  border-color: #009DDC;
  background-color: #009DDC;
  color: #fff; }
.button--inverted:focus, .button--inverted:hover {
  border-color: #2ac2ff;
  background-color: #2ac2ff;
  color: white;
  outline: none; }
.button--inverted.button--success, .button--inverted.button--success:visited {
  border-color: #00A160;
  background-color: #00A160;
  color: #fff; }
.button--inverted.button--success:focus, .button--inverted.button--success:hover {
  border-color: #00ed8e;
  background-color: #00ed8e;
  color: white;
  outline: none; }
.button--inverted.button--error, .button--inverted.button--error:visited {
  border-color: #C1272D;
  background-color: #C1272D;
  color: #fff; }
.button--inverted.button--error:focus, .button--inverted.button--error:hover {
  border-color: #dd575d;
  background-color: #dd575d;
  color: white;
  outline: none; }
.button--inverted.button--warning, .button--inverted.button--warning:visited {
  border-color: #F7931E;
  background-color: #F7931E;
  color: #fff; }
.button--inverted.button--warning:focus, .button--inverted.button--warning:hover {
  border-color: #fab668;
  background-color: #fab668;
  color: white;
  outline: none; }
.button--inverted.button--neutral, #utility-bar .button--inverted.button, #utility-bar button.button--inverted, .button--inverted.button--neutral:visited, #utility-bar .button--inverted.button:visited, #utility-bar button.button--inverted:visited {
  border-color: #666;
  background-color: #666;
  color: #fff; }
.button--inverted.button--neutral:focus, #utility-bar .button--inverted.button:focus, #utility-bar button.button--inverted:focus, .button--inverted.button--neutral:hover, #utility-bar .button--inverted.button:hover, #utility-bar button.button--inverted:hover {
  border-color: #8c8c8c;
  background-color: #8c8c8c;
  color: white;
  outline: none; }

.button--block {
  display: block; }

.button--transparent, #utility-bar .button, #utility-bar button, .button--transparent:hover, #utility-bar .button:hover, #utility-bar button:hover, .button--transparent:focus, #utility-bar .button:focus, #utility-bar button:focus {
  background-color: transparent; }

.button--borderless, #utility-bar .button, #utility-bar button, .button--borderless:hover, #utility-bar .button:hover, #utility-bar button:hover, .button--borderless:focus, #utility-bar .button:focus, #utility-bar button:focus {
  border-color: transparent; }

/*
.button:hover, button:hover, .button, button {
    transition: all 100ms linear;
}
*/
hr {
  height: 0;
  border: none;
  border-top: 1px solid #ccc; }

/* #TABLE */
/* #Calendar Components */
.calendar__month-name {
  line-height: 2;
  font-size: 75%;
  font-weight: 800;
  letter-spacing: 0;
  text-transform: uppercase;
  font-size: 100%; }
.calendar__week-day {
  width: 1.42857%;
  font-size: 75%;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase;
  padding: 1em 0; }
.calendar__day, .calendar__day > .caption, .calendar__week-day > .caption {
  text-align: center; }
.calendar__day > .caption, .calendar__week-day > .caption {
  display: block;
  padding-bottom: .7em;
  padding-top: .7em; }

/*TODO reposition this selector */
.date-list .media-item {
  margin-bottom: 10px; }

.calendar-like {
  background: #eeefef;
  color: #000;
  text-align: center; }
  .calendar-like__day, .calendar-like__month {
    padding: 5px 10px; }
  .calendar-like__day {
    background: #666;
    color: #fff;
    font-size: 125%; }
  .calendar-like__month {
    font-size: 75%;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: uppercase; }

/*---------------------------*\
   #TEXT-RE-SIZE
\*---------------------------*/
.text--very-small {
  font-size: 75%; }

.text--small {
  font-size: 87.5%; }

.text--normal {
  font-size: 100%; }

.text--big {
  font-size: 150%; }

.text--very-big {
  font-size: 225%; }

.text--huge {
  font-size: 400%; }

/*---------------------------*\
   #UTILITIES
\*---------------------------*/
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.full-wide {
  width: 100%; }

.horizontal-alignment--right {
  text-align: right; }

.spacing-right--half {
  margin-right: 10px; }

.spacing-right {
  margin-right: 20px; }

.spacing-right--2x {
  margin-right: 40px; }

.spacing-left--half {
  margin-left: 10px; }

.spacing-left {
  margin-left: 20px; }

.spacing-left--2x {
  margin-left: 40px; }

body {
  background: #fff;
  color: #000; }

a {
  color: #009DDC; }
  a:visited {
    color: #2c8ab0; }
  a:hover {
    color: #2ac2ff; }

.page__header .toolbar {
  vertical-align: top; }

.slot-breadcrumb {
  padding: 10px 0; }

#nav-access-keys,
#utility-bar,
.tab-list {
  text-align: right; }

#accessibility-panel {
  float: left; }

#nav-access-keys {
  padding: 10px 0;
  font-size: 87.5%;
  display: none; }
  #nav-access-keys a {
    color: #666;
    text-decoration: none;
    margin-right: 20px; }

.hotkey {
  display: inline-block;
  padding: 0.25em 0.6em;
  border: 1px solid #ccc;
  border-right-width: 2px;
  border-bottom-width: 2px; }

.main-nav {
  border-bottom: 1px solid #009DDC;
  font-size: 81.25%;
  text-align: center; }

.main-nav .nav__current .caption {
  background: #009DDC;
  color: #fff; }

.widget__title {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: .1em; }

.sidebar .widget {
  margin-bottom: 60px; }

.mpms-news__title {
  color: #009DDC;
  margin-top: 0.5em;
  margin-bottom: 1em;
  line-height: 1.1; }
.mpms-news__description {
  font-size: 82.5%; }

.action-bar {
  border-top: 1px solid #e6e6e6;
  padding: 20px 0;
  text-align: right; }

/* Main-search */
.form--search {
  display: inline-block; }

.search__main-form {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background: #00A160;
  color: #fff;
  padding-left: .8em; }
  .search__main-form ::-webkit-input-placeholder {
    color: #fff; }
  .search__main-form :-moz-placeholder {
    color: #fff; }
  .search__main-form ::-moz-placeholder {
    color: #fff; }
  .search__main-form :-ms-input-placeholder {
    color: #fff; }
  .search__main-form .button {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px; }

.search__keyword {
  background: transparent;
  border: 0;
  padding: .3em .5em; }
  .search__keyword:focus {
    outline: 0;
    border-bottom-color: #00A160; }

.search__powered-by-google {
  margin-top: 10px;
  text-align: right; }

/* Footer*/
.organization__info {
  padding: 40px 0; }

.place__name {
  font-weight: 800; }

address {
  font-style: normal; }

.footer__main-logotype {
  width: 70%; }

.slot-institutional,
.slot-social-media {
  border-top: 1px solid #e6e6e6; }

/*# sourceMappingURL=style.css.map */
