@mixin widget() {
    /*$vertical-spacing: $internal-spacing;
    @if ($theme-widget-doubleSpacing == 1) {
      $vertical-spacing: $internal-spacing *2;
    }
    @include vertical-spacing($vertical-spacing);
  */
    .widget__title {
        font: {
            size: 87.5%;
            weight: $font-heading-weight;
        }
        letter-spacing: 0;
        margin-bottom: $internal-spacing/2;
    }
}


@mixin arrow($direction: 'down', $size: 1em, $color: $body-text-color) {
    border: $size solid transparent;
    display: block;
    content: "";
    width:  0;
    height: 0;
    @if $direction == 'up' {
        border-bottom-color: $color;
    } @else if $direction == 'right' {
        border-left-color: $color;
    } @else if $direction == 'down' {
        border-top-color: $color;
    } @else {
        border-right-color: $color;
    }
}



@mixin button-style($foreground: $color-primary, $background: $color-inverted, $border: 'normal') {

    &, &:visited {

        @if $border == 'no-border' {
            border-color: $background;
        }
        @else {
            border-color: $foreground;
        }
        background-color: $background;
        color: $foreground;

    }


    &:focus, &:hover {

        @if $border == 'no-border' {
            border-color: lighten($background, 15);
        }
        @else {
            border-color: lighten($foreground, 15);
        }
        background-color: lighten($background, 15);
        color: lighten($foreground, 15);
        outline: none;

    }

}

@mixin button-like-style($text-color: $color-primary, $background-color: $color-inverted, $border: 'normal') {

    &, &:visited {

        @if $border == 'no-border' {
            border-color: $background;
        }
        @else {
            border-color: $foreground;
        }
        background-color: $background;
        color: $foreground;

    }


    &:focus, &:hover {

        @if $border == 'no-border' {
            border-color: lighten($background, 15);
        }
        @else {
            border-color: lighten($foreground, 15);
        }
        background-color: lighten($background, 15);
        color: lighten($foreground, 15);
        outline: none;

    }

    @content;

}

.widget {
    @include widget;
}





/*---------------------------*\
   #NAVIGATION
\*---------------------------*/

.nav {
    @include reset-spacing();
    margin-left: 0.7ex;
}
    .nav__item {
        @include inline-block-box();
        margin-left: -0.7ex;
        list-style: none;
        position: relative;
    }

        .nav__caption {
            @include inline-block-box();
            cursor: pointer;
            text-decoration: none;
        }

    [aria-haspopup="true"] {

        .nav__caption {
            padding-right: 2em;

            &:after {
                @include arrow('down', .4em, $color-nav-links);
                position: absolute;
                right: .3em;
                top: 45%;
                z-index: 1;
            }

            &:focus:after, &:hover:after {
                border-top-color: $color-nav-hover;
            }

        }

    }

    .nav__current {

        .nav__caption,
        .nav__caption:focus, .nav__caption:hover {
            cursor: default;
        }

        &[aria-haspopup="true"] .nav__caption:after {
            border-top-color: $color-inverted;
        }

    }



$menu-backgroundcolor: darken($color-label, 7);

.nav__dropdown {
    background: $menu-backgroundcolor;
    box-shadow: rgba(0,0,0,.3) 0 5px 7px;

    position: absolute;
    padding: 5px;
    text-align: left;
    top: 100%;
    left: 0;
    z-index: 2;

    &:before {
        @include arrow('up', 1em, $menu-backgroundcolor);
        position: absolute;
        bottom: 100%;
        left: 1em;
    }

    &--inverted {
        right: 0;
        left: auto;

        &:before {
            left: auto;
            right: 1em;
        }

    }
}


    .nav__submenu {
        @include reset-spacing();

        list-style: none;
    }

    /*.nav__dropdown { display: none;  }
    [aria-haspopup='true']:hover > .nav__dropdown, [aria-haspopup='true']:focus > .nav__dropdown {
        display: block;
    }
*/
        .submenu__item:link {
            color: $color-inverted;
            display: block;
            white-space: nowrap;
            padding: .7em 1em;
            text-decoration: none;
        }
            .submenu__item:hover, .submenu__item:focus {
                background: $color-primary;
                color: $color-inverted;
            }

        .dropdown__separator {
            border-bottom: 1px solid lighten($color-label, 7);
            margin-top:     .5em;
            margin-bottom:  .5em;
        }


.main-nav {

    .nav__caption {
        font-weight: $font-feature-weight;
        padding: 1em 1.5em;
    }

    .nav__current {

        .nav__caption {
            border-bottom: 5px solid $color-primary;
            color: $color-primary;
        }

    }

}


.nav-tab {
    margin: 0 0 $internal-spacing*3;
}

    .tab__caption {
        @include small-uppercase-title($font-heading-weight);
        color: $color-label;
        padding: .3em 1em;

/*        &:visited {
            color: $color-label;
        }*/

    }

    .nav__current {

        .tab__caption {
            color: $color-highlight;
        }

    }

    .tab__item {
        border-left: $border-default-setting;
    }

    .tab__item:first-child {
        border: none;
    }





/*---------------------------*\
   #BREADCRUMB
\*---------------------------*/

    .breadcrumb__item {
        @include solid-box(.7em .5em .7em 0);
        font-size: 81.25%;
    }

        /*.breadcrumb__item::after,*/
        .breadcrumb__item:after, {
            /*content: '\f054';
            font: {
                family: FontAwesome;
            }
            margin-top:  .3em;
            */
            content: "/";
            float: right;
            margin-left: .7em;
            font-weight: $font-strong-weight;
        }

    .breadcrumb__item {
        color: $color-label;
    }

    .breadcrumb__item.nav__current:after {
        display: none;
    }

    /*.breadcrumb__root:before {
        content: "\f015";
        font-family: FontAwesome, sans-serif;
        color: $color-primary;
    }*/

.nav-root {
    /*
    content: ">>";
    float: left;
    margin-right: $internal-spacing/2;
      */
}


// Vertical navigation

.toolbar {
    @include inline-block-box();

    .separator {
        border-left: $border-default-setting;
        margin-right: .7ex;
    }

}





/*---------------------------*\
   #LISTS
\*---------------------------*/

.def-list, .icon-list, .tab-list, .date-list, .common-list {
    @include reset-spacing();
    list-style-type: none;
}

    .list--spaced > .list__item {
        margin-bottom: $internal-spacing;
    }

.list__item, .def-list__item,
.media-item, .media__content {
    @include clear-block;
}

    .media__subject, .def__title {
        float: left;
        margin-right: $internal-spacing;
    }

    .def-list__item {
        margin-bottom: $internal-spacing/2;
    }

        .def__title {
            margin-right: $internal-spacing;
            text-align: right;
            min-width: 40%;
        }

        .def__description {
            @include clear-block;
            font-size: em(14);
        }



.post-list {
    border-top: $border-secondary-setting;

    &__thumbnail {
       width: 25%;
    }
    
    &__title {
        font: {
            size: 125%;
            weight: $font-heading-weight;
        }
    }
    
    &__section {
        @include small-uppercase-title(800);
    }
    
    &__timestamp {
        font-size: em(14);
    }

    > .list__item {
        padding-top: $internal-spacing;
    }

}




//TODO move to the 'base' section
.button {

    @include inline-block-box();
    @include button-style($color-primary, $color-inverted);
    border: 1px solid;
    border-bottom-width: 3px;
    font: {
        weight: $font-button-weight;
        size: em(14);
    };
    line-height: 1;
    padding: .65em .8em;
    text-decoration: none;
    text-align: center;

    &:active {
        top: 2px;
        position: relative;
        border-bottom-width: 1px;
        margin-bottom: 2px;
    }
    &, &:hover, &:focus {
        transition-property: background-color, border-color;
        transition-duration: .2s
    }
}

    .button--success {
        @include button-style($color-success);
    }

    .button--error {
        @include button-style($color-error);
    }

    .button--warning {
        @include button-style($color-warning);
    }

    .button--neutral {
        @include button-style($color-label);
    }

    .button--inverted {
        @include button-style($color-inverted, $color-primary, 'no-border');

        &.button--success {
            @include button-style($color-inverted, $color-success, 'no-border');
        }

        &.button--error {
            @include button-style($color-inverted, $color-error, 'no-border');
        }

        &.button--warning {
            @include button-style($color-inverted, $color-warning, 'no-border');
        }

        &.button--neutral {
            @include button-style($color-inverted, $color-label, 'no-border');
        }

    }

    .button--block {
        display: block;
    }

    .button--transparent {
        &, &:hover, &:focus {
            background-color:   transparent;
        }
    }

    .button--borderless {
        &, &:hover, &:focus {
            border-color:       transparent;
        }
    }

    /*
    .button:hover, button:hover, .button, button {
        transition: all 100ms linear;
    }
    */


hr {
    height: 0;
    border: none;
    border-top: $border-default-setting;
}


.input-text, .select-box {

    @if ($high-contrast-mode == true) {
        //background-color: lighten($color-inverted, 0.2);
        color: $color-inverted;
    }
    @else {
        //background-color: darken($color-background, 2);
        color: $body-text-color;
    }

    padding: .4em .65em;

    &:focus {
        outline: 0;
        border-color: $color-highlight;
    }
}

.form {

    font-size: em(15);

    &--spaced-fields {

       .form__input {
           margin-bottom: .33em;
       }

    }

    &__label {
        font-weight: 600;
    }

}



/* #TABLE */
.table {

}




/* #Calendar Components */


.calendar {

    &__month-name {
        line-height: 2;
        @include small-uppercase-title($font-heading-weight);
        font-size: 100%;
    }

    &__week-day {
        width: percentage(1/70);
        @include small-uppercase-title();
        padding: 1em 0;
    }

    &__day, &__day > .caption, &__week-day > .caption { text-align: center; }

    &__day > .caption, &__week-day > .caption {
        display: block;
        padding-bottom: .7em;
        padding-top:    .7em;
    }

}


/*TODO reposition this selector */
.date-list .media-item {
    margin-bottom: $internal-spacing/2;
}


.calendar-like {
    min-width: 3em;
}


.calendar-like {

    background: lighten($color-neutral, 15);
    color: $body-text-color;
    text-align: center;

    &__day,
    &__month {
        padding: $internal-spacing/4 $internal-spacing/2;
    }

    &__day {
        font-size: em(20);
    }

    &__month {
        @include small-uppercase-title();
    }

}
