@mixin small-uppercase-title($font-weight: $font-feature-weight) {
    font: {
        size: em(12);
        weight: $font-weight;
    }
    letter-spacing: 0;
    text-transform: uppercase;
}






body {
    font: {
        size: $font-base-size;
        family: $font-primary;
        weight: $font-base-weight;
    }
    word-spacing: .1em;
}

// regra abaixo: Somente em p�ginas de leitura
p {
    line-height: $base-line-height;
    margin: 0;
    @at-root .article & {
        margin: 0 0 1.6em;
    }
}

// Headers
h1, h2, h3, h4, h5, h6 {
    font-weight: $font-heading-weight;
    margin: 0;
}

.article {
    word-spacing: 0;

    h1, h2, h3, h4, h5, h6 {
        margin: 2em 0 .4em 0;
        &:first-child {
            margin-top: 0;
        }
    }

}


.reading-mode {

    .article {
        word-spacing: .1em;

        &--news {

            &__heading {
                text-align: center;
                margin-bottom: $internal-spacing;
            }

            &__subject {
                @include small-uppercase-title($font-heading-weight);
                letter-spacing: .4em;
                white-space: nowrap;
            }

            &__title {
                font-size: 240%;
                line-height: 1;
                padding-left: 10%;
                padding-right: 10%;
                margin-top: 0;
            }

            &__summary {
                font-size: 87.5%;
                font-style: italic;
            }

            &__date-published {
                @include inline-block-box();
                clear: both;
                border-top: $border-secondary-setting;
                color: $color-neutral;
                padding: 1em;
            }

            &__body, &__summary {
                font-family: $font-secondary;
            }

        }

        p {
            margin: 0 0 1.6em;
            line-height: 1.6;
        }

        h2, h3, h4, h5, h6 {
            font-family: $font-primary;
        }

    }

}


strong {
    font-weight: $font-strong-weight;
}


// Fibonacci for headers font-size (golden ratio)
$fibonacci: 1;
$fibonacci-last: 1;
$fibonacci-aux: $fibonacci;
$fibonacci-start: 8;
@for $i from 6 through 1 {
    #{h + $i} {
        font-size: percentage(($fibonacci-start+$fibonacci+$fibonacci-last)/10);
        @if $i < 3 {
            letter-spacing: -#{3-$i +'px'};
            line-height: 1 + ($i/10);
        }
    }
    $fibonacci-aux: $fibonacci;
    $fibonacci: $fibonacci + $fibonacci-last;
    $fibonacci-last: $fibonacci-aux;
}

.footnotes {
    @include solid-box($internal-spacing/2 0);
    margin: $internal-spacing 0;
    border-top: 2px solid $color-border;
    padding-left: 2em;
    font-size: 82%;

    &__note {
        margin-bottom: 1em;
        line-height: 1.2;
    }

}

/*.first-paragraph::first-letter {
    float: left;
    font-size: 400%;
    line-height: .9;
    padding-right: .5ex;
    //font-family: $font-secondary;
    font-weight: $font-feature-weight;
}*/


.section {

    &__title {
        font-weight: $font-main-section-weight;
    }

    &__sub-title, &__sub-sub-title {
        font-weight: $font-feature-weight;
    }

    &__sub-sub-title {
        font-size: 115%;
    }

}

.blockquote {
    border-left: 3px solid $color-border;
    @include reset-spacing;
    @include solid-box;

    p {
        font-size: 130%;
    }
}
    .cite {

        &::before {
            content: '\2014 \00A0';
        }

    }

    /* TODO considerar blockquote-reverse (left-way) */

.cite, address {
    font-style: normal;
}