/**************
 * Function to convert 'pixel unit' font size into 'em size/percentage' based on the project variable $font-base-size
 *
 * Usage:
 *      em(<font-size>)
 * ex:  font-size: em(20);
 * results:
 *      font-size: 125%;       // if $font-base-size is set 16px
 *
*/
.center-container {
  margin-left: auto;
  margin-right: auto;
  position: relative; }

.solid-box {
  padding: 20px; }

/*

.panel-style {
    @include panel(lighten($color-neutral, 20), lighten($color-border, 10));
}

    .panel-style--primary {
        background-color: lighten($color-primary, 50);
        border-color: lighten($color-primary, 30);
    }
*/
.solid-box--half {
  padding: 10px; }

.vertical-spacing {
  margin-top: 20px;
  margin-bottom: 20px; }

.vertical-spacing--2x {
  margin-top: 40px;
  margin-bottom: 40px; }

.page__section {
  margin-top: 60px; }
  .page__section--half, .page__section--sub {
    margin-top: 40px;
    margin-bottom: 40px; }

.section__title,
.section__sub-title {
  margin-bottom: 1em; }

.action-bar {
  margin-top: 1.5em; }

.viewport-framing {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
    /*padding-left: 15%;
    padding-right: 15%;

    @include desktop {
        padding-left: 5%;
        padding-right: 5%;
    }

    @include tablet {
        padding-left: $internal-spacing/2;
        padding-right: $internal-spacing/2;
    }
*/ }

/**
 * Grid Mechanism
 *
 * #Description goes here
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
*/
.grid__container {
  overflow: hidden;
  margin-left: -30px; }

.grid__item {
  float: left; }
  .grid__item > .wrapper {
    margin-left: 30px; }

.size--16 {
  width: 73.375px; }

.size--15 {
  width: 78.26667px; }

.size--14 {
  width: 83.85714px; }

.size--13 {
  width: 90.30769px; }

.size--12 {
  width: 97.83333px; }

.size--11 {
  width: 106.72727px; }

.size--10 {
  width: 117.4px; }

.size--9 {
  width: 130.44444px; }

.size--8 {
  width: 146.75px; }

.size--7 {
  width: 167.71429px; }

.size--6 {
  width: 195.66667px; }

.size--5 {
  width: 234.8px; }

.size--4 {
  width: 293.5px; }

.size--3 {
  width: 391.33333px; }

.size--2 {
  width: 587px; }

.size--1 {
  width: 1174px; }

.percentage-grid--10, .block-size--10 {
  width: 10%; }

.percentage-grid--20, .block-size--20 {
  width: 20%; }

.percentage-grid--30, .block-size--30 {
  width: 30%; }

.percentage-grid--40, .block-size--40 {
  width: 40%; }

.percentage-grid--50, .block-size--50 {
  width: 50%; }

.percentage-grid--60, .block-size--60 {
  width: 60%; }

.percentage-grid--70, .block-size--70 {
  width: 70%; }

.percentage-grid--80, .block-size--80 {
  width: 80%; }

.percentage-grid--90, .block-size--90 {
  width: 90%; }

.percentage-grid--100, .block-size--100 {
  width: 100%; }

.percentage-grid--25, .percentage-grid--1-4, .block-size--25, .block-size--1-4 {
  width: 25%; }

.percentage-grid--1-3, .block-size--1-3 {
  width: 33.3333%; }

.percentage-grid--1-2, .block-size--1-2 {
  width: 50%; }

.percentage-grid--2-3, .block-size--2-3 {
  width: 66.6666%; }

.percentage-grid--75, .percentage-grid--3-4, .block-size--75, .block-size--3-4 {
  width: 75%; }

body {
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  word-spacing: .1em; }

p {
  line-height: 1.6;
  margin: 0; }
  .article p {
    margin: 0 0 1.6em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0; }

.article {
  word-spacing: 0; }
  .article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
    margin: 2em 0 .4em 0; }
    .article h1:first-child, .article h2:first-child, .article h3:first-child, .article h4:first-child, .article h5:first-child, .article h6:first-child {
      margin-top: 0; }

.reading-mode {
  font-family: "Merriweather", Georgia, Times, serif; }
  .reading-mode .article {
    word-spacing: .1em; }
    .reading-mode .article--news__heading {
      text-align: center;
      margin-bottom: 60px; }
    .reading-mode .article--news__subject {
      font-size: 75%;
      font-weight: 700;
      letter-spacing: 0;
      text-transform: uppercase;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      letter-spacing: .4em;
      white-space: nowrap; }
    .reading-mode .article--news__title {
      font-size: 240%;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      line-height: 1;
      padding-left: 10%;
      padding-right: 10%;
      margin-top: 1em; }
    .reading-mode .article--news__summary {
      font-size: 87.5%;
      font-style: italic; }
    .reading-mode .article--news__date-published {
      display: inline-block;
      *display: inline;
      zoom: 1;
      clear: both;
      border-top: 1px solid #e6e6e6;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      color: #C7C8CA;
      padding: 1em; }
    .reading-mode .article p {
      margin: 0 0 1.6em;
      line-height: 1.6; }
    .reading-mode .article h2, .reading-mode .article h3, .reading-mode .article h4, .reading-mode .article h5, .reading-mode .article h6 {
      font-family: "Open Sans", Helvetica, Arial, sans-serif; }

strong {
  font-weight: 700; }

h6 {
  font-size: 100%; }

h5 {
  font-size: 110.0%; }

h4 {
  font-size: 130%; }

h3 {
  font-size: 160%; }

h2 {
  font-size: 210%;
  letter-spacing: -1px;
  line-height: 1.2; }

h1 {
  font-size: 290%;
  letter-spacing: -2px;
  line-height: 1.1; }

.footnotes {
  padding: 10px 0;
  margin: 20px 0;
  border-top: 2px solid #ccc;
  padding-left: 2em;
  font-size: 82%; }
  .footnotes__note {
    margin-bottom: 1em;
    line-height: 1.2; }

/*.first-paragraph::first-letter {
    float: left;
    font-size: 400%;
    line-height: .9;
    padding-right: .5ex;
    //font-family: $font-secondary;
    font-weight: $font-feature-weight;
}*/
.section__title {
  font-weight: 700; }
.section__sub-title, .section__sub-sub-title {
  font-weight: 700; }
.section__sub-sub-title {
  font-size: 115%; }

.blockquote {
  border-left: 3px solid #ccc;
  margin: 0;
  padding: 0;
  padding: 20px; }
  .blockquote p {
    font-size: 130%; }

.cite::before {
  content: '\2014 \00A0'; }

/* TODO considerar blockquote-reverse (left-way) */
.cite, address {
  font-style: normal; }

.widget {
  /*$vertical-spacing: $internal-spacing;
  @if ($theme-widget-doubleSpacing == 1) {
    $vertical-spacing: $internal-spacing *2;
  }
  @include vertical-spacing($vertical-spacing);
*/ }
  .widget .widget__title {
    font-size: 87.5%;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 10px; }

/*---------------------------*\
   #NAVIGATION
\*---------------------------*/
.nav {
  margin: 0;
  padding: 0;
  margin-left: 0.7ex; }

.nav__item {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-left: -0.7ex;
  list-style: none;
  position: relative; }

.nav__caption {
  display: inline-block;
  *display: inline;
  zoom: 1;
  cursor: pointer;
  text-decoration: none; }

[aria-haspopup="true"] .nav__caption {
  padding-right: 2em; }
  [aria-haspopup="true"] .nav__caption:after {
    border: 0.4em solid transparent;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-top-color: #666;
    position: absolute;
    right: .3em;
    top: 45%;
    z-index: 1; }
  [aria-haspopup="true"] .nav__caption:focus:after, [aria-haspopup="true"] .nav__caption:hover:after {
    border-top-color: #2ac2ff; }

.nav__current .nav__caption,
.nav__current .nav__caption:focus, .nav__current .nav__caption:hover {
  cursor: default; }
.nav__current[aria-haspopup="true"] .nav__caption:after {
  border-top-color: #fff; }

.nav__dropdown {
  background: #545454;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 7px;
  position: absolute;
  padding: 5px;
  text-align: left;
  top: 100%;
  left: 0;
  z-index: 2; }
  .nav__dropdown:before {
    border: 1em solid transparent;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-bottom-color: #545454;
    position: absolute;
    bottom: 100%;
    left: 1em; }
  .nav__dropdown--inverted {
    right: 0;
    left: auto; }
    .nav__dropdown--inverted:before {
      left: auto;
      right: 1em; }

.nav__submenu {
  margin: 0;
  padding: 0;
  list-style: none; }

    /*.nav__dropdown { display: none;  }
    [aria-haspopup='true']:hover > .nav__dropdown, [aria-haspopup='true']:focus > .nav__dropdown {
        display: block;
    }
*/
.submenu__item:link {
  color: #fff;
  display: block;
  white-space: nowrap;
  padding: .7em 1em;
  text-decoration: none; }

.submenu__item:hover, .submenu__item:focus {
  background: #009DDC;
  color: #fff; }

.dropdown__separator {
  border-bottom: 1px solid #787878;
  margin-top: .5em;
  margin-bottom: .5em; }

.main-nav .nav__caption {
  font-weight: 700;
  padding: 1em 1.5em; }
.main-nav .nav__current .nav__caption {
  border-bottom: 5px solid #009DDC;
  color: #009DDC; }

.nav-tab {
  margin: 0 0 60px; }

.tab__caption {
  font-size: 75%;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #666;
  padding: .3em 1em;
  /*        &:visited {
              color: $color-label;
          }*/ }

.nav__current .tab__caption {
  color: #2ac2ff; }

.tab__item {
  border-left: 1px solid #ccc; }

.tab__item:first-child {
  border: none; }

/*---------------------------*\
   #BREADCRUMB
\*---------------------------*/
.breadcrumb__item {
  padding: 0.7em 0.5em 0.7em 0;
  font-size: 81.25%; }

/*.breadcrumb__item::after,*/
.breadcrumb__item:after {
  /*content: '\f054';
  font: {
      family: FontAwesome;
  }
  margin-top:  .3em;
  */
  content: "/";
  float: right;
  margin-left: .7em;
  font-weight: 700; }

.breadcrumb__item {
  color: #666; }

.breadcrumb__item.nav__current:after {
  display: none; }

/*.breadcrumb__root:before {
    content: "\f015";
    font-family: FontAwesome, sans-serif;
    color: $color-primary;
}*/
.nav-root {
  /*
  content: ">>";
  float: left;
  margin-right: $internal-spacing/2;
    */ }

.toolbar {
  display: inline-block;
  *display: inline;
  zoom: 1; }
  .toolbar .separator {
    border-left: 1px solid #ccc;
    margin-right: .7ex; }

/*---------------------------*\
   #LISTS
\*---------------------------*/
.def-list, .icon-list, .tab-list, .date-list, .common-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.list--spaced > .list__item {
  margin-bottom: 20px; }

.list__item, .def-list__item,
.media-item, .media__content {
  overflow: hidden; }

.media__subject, .def__title {
  float: left;
  margin-right: 20px; }

.def-list__item {
  margin-bottom: 10px; }

.def__title {
  margin-right: 20px;
  text-align: right;
  min-width: 40%; }

.def__description {
  overflow: hidden;
  font-size: 87.5%; }

.post-list {
  border-top: 1px solid #e6e6e6; }
  .post-list__thumbnail {
    width: 25%; }
  .post-list__title {
    font-size: 125%;
    font-weight: 700; }
  .post-list__section {
    font-size: 75%;
    font-weight: 800;
    letter-spacing: 0;
    text-transform: uppercase; }
  .post-list__timestamp {
    font-size: 87.5%; }
  .post-list > .list__item {
    padding-top: 20px; }

.button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  border: 1px solid;
  border-bottom-width: 3px;
  font-weight: 400;
  font-size: 87.5%;
  line-height: 1;
  padding: .65em .8em;
  text-decoration: none;
  text-align: center; }
  .button, .button:visited {
    border-color: #009DDC;
    background-color: #fff;
    color: #009DDC; }
  .button:focus, .button:hover {
    border-color: #2ac2ff;
    background-color: white;
    color: #2ac2ff;
    outline: none; }
  .button:active {
    top: 2px;
    position: relative;
    border-bottom-width: 1px;
    margin-bottom: 2px; }
  .button, .button:hover, .button:focus {
    transition-property: background-color, border-color;
    transition-duration: 0.2s; }

.button--success, .button--success:visited {
  border-color: #00A160;
  background-color: #fff;
  color: #00A160; }
.button--success:focus, .button--success:hover {
  border-color: #00ed8e;
  background-color: white;
  color: #00ed8e;
  outline: none; }

.button--error, .button--error:visited {
  border-color: #C1272D;
  background-color: #fff;
  color: #C1272D; }
.button--error:focus, .button--error:hover {
  border-color: #dd575d;
  background-color: white;
  color: #dd575d;
  outline: none; }

.button--warning, .button--warning:visited {
  border-color: #F7931E;
  background-color: #fff;
  color: #F7931E; }
.button--warning:focus, .button--warning:hover {
  border-color: #fab668;
  background-color: white;
  color: #fab668;
  outline: none; }

.button--neutral, #utility-bar .button, #utility-bar button, .button--neutral:visited, #utility-bar .button:visited, #utility-bar button:visited {
  border-color: #666;
  background-color: #fff;
  color: #666; }
.button--neutral:focus, #utility-bar .button:focus, #utility-bar button:focus, .button--neutral:hover, #utility-bar .button:hover, #utility-bar button:hover {
  border-color: #8c8c8c;
  background-color: white;
  color: #8c8c8c;
  outline: none; }

.button--inverted, .button--inverted:visited {
  border-color: #009DDC;
  background-color: #009DDC;
  color: #fff; }
.button--inverted:focus, .button--inverted:hover {
  border-color: #2ac2ff;
  background-color: #2ac2ff;
  color: white;
  outline: none; }
.button--inverted.button--success, .button--inverted.button--success:visited {
  border-color: #00A160;
  background-color: #00A160;
  color: #fff; }
.button--inverted.button--success:focus, .button--inverted.button--success:hover {
  border-color: #00ed8e;
  background-color: #00ed8e;
  color: white;
  outline: none; }
.button--inverted.button--error, .button--inverted.button--error:visited {
  border-color: #C1272D;
  background-color: #C1272D;
  color: #fff; }
.button--inverted.button--error:focus, .button--inverted.button--error:hover {
  border-color: #dd575d;
  background-color: #dd575d;
  color: white;
  outline: none; }
.button--inverted.button--warning, .button--inverted.button--warning:visited {
  border-color: #F7931E;
  background-color: #F7931E;
  color: #fff; }
.button--inverted.button--warning:focus, .button--inverted.button--warning:hover {
  border-color: #fab668;
  background-color: #fab668;
  color: white;
  outline: none; }
.button--inverted.button--neutral, #utility-bar .button--inverted.button, #utility-bar button.button--inverted, .button--inverted.button--neutral:visited, #utility-bar .button--inverted.button:visited, #utility-bar button.button--inverted:visited {
  border-color: #666;
  background-color: #666;
  color: #fff; }
.button--inverted.button--neutral:focus, #utility-bar .button--inverted.button:focus, #utility-bar button.button--inverted:focus, .button--inverted.button--neutral:hover, #utility-bar .button--inverted.button:hover, #utility-bar button.button--inverted:hover {
  border-color: #8c8c8c;
  background-color: #8c8c8c;
  color: white;
  outline: none; }

.button--block {
  display: block; }

.button--transparent, #utility-bar .button, #utility-bar button, .button--transparent:hover, #utility-bar .button:hover, #utility-bar button:hover, .button--transparent:focus, #utility-bar .button:focus, #utility-bar button:focus {
  background-color: transparent; }

.button--borderless, #utility-bar .button, #utility-bar button, .button--borderless:hover, #utility-bar .button:hover, #utility-bar button:hover, .button--borderless:focus, #utility-bar .button:focus, #utility-bar button:focus {
  border-color: transparent; }

/*
.button:hover, button:hover, .button, button {
    transition: all 100ms linear;
}
*/
hr {
  height: 0;
  border: none;
  border-top: 1px solid #ccc; }

.input-text, .select-box {
  color: #000;
  padding: .4em .65em; }
  .input-text:focus, .select-box:focus {
    outline: 0;
    border-color: #2ac2ff; }

.form {
  font-size: 93.75%; }
  .form--spaced-fields .form__input {
    margin-bottom: .33em; }
  .form__label {
    font-weight: 600; }

/* #TABLE */
/* #Calendar Components */
.calendar__month-name {
  line-height: 2;
  font-size: 75%;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  font-size: 100%; }
.calendar__week-day {
  width: 1.42857%;
  font-size: 75%;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  padding: 1em 0; }
.calendar__day, .calendar__day > .caption, .calendar__week-day > .caption {
  text-align: center; }
.calendar__day > .caption, .calendar__week-day > .caption {
  display: block;
  padding-bottom: .7em;
  padding-top: .7em; }

/*TODO reposition this selector */
.date-list .media-item {
  margin-bottom: 10px; }

.calendar-like {
  min-width: 3em; }

.calendar-like {
  background: #eeefef;
  color: #000;
  text-align: center; }
  .calendar-like__day, .calendar-like__month {
    padding: 5px 10px; }
  .calendar-like__day {
    font-size: 125%; }
  .calendar-like__month {
    font-size: 75%;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase; }

/*---------------------------*\
   #TEXT
\*---------------------------*/
.text--very-small, .text--x-small {
  font-size: 75%; }
.text--small {
  font-size: 87.5%; }
.text--normal {
  font-size: 100%; }
.text--big {
  font-size: 150%; }
.text--very-big {
  font-size: 225%; }
.text--huge {
  font-size: 400%; }
.text--uppercase, .text--allcaps {
  text-transform: uppercase; }
.text--lowercase {
  text-transform: lowercase; }
.text--capitalize {
  text-transform: capitalize; }
.text--smallcaps {
  font-variant: small-caps; }
.text--light {
  font-weight: 400; }
.text--bold {
  font-weight: 700; }
.text--no-underline {
  text-decoration: none; }

/*---------------------------*\
   #UTILITIES
\*---------------------------*/
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.full-wide,
.any--full-wide {
  width: 100%; }

.horizontal-alignment--right {
  text-align: right; }
.horizontal-alignment--left {
  text-align: left; }
.horizontal-alignment--center {
  text-align: center; }

.spacing-right--half {
  margin-right: 10px; }

.spacing-right {
  margin-right: 20px; }

.spacing-right--2x {
  margin-right: 40px; }

.spacing-left--half {
  margin-left: 10px; }

.spacing-left {
  margin-left: 20px; }

.spacing-left--2x {
  margin-left: 40px; }

.any--full-wide {
  box-sizing: border-box;
  display: block; }

.list--no-bullets {
  list-style: none; }

body {
  background: #fff;
  color: #000; }

a {
  color: #009DDC; }
  .article a:visited {
    color: #2c8ab0; }
  a:hover, a:focus {
    color: #2ac2ff; }

.page__header .toolbar {
  vertical-align: top; }

.logotipo {
  line-height: 0;
  text-align: center; }
  .logotipo-src {
    width: 390px; }

.tag {
  background: #ededed;
  border-radius: 1em;
  color: #545454;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: .3em .6em;
  margin: 0 1ex .5ex 0; }

a.tag:hover {
  background: #009DDC;
  color: #fff; }

.list__item > h5 ~ * {
  margin-left: 20px; }

.list__item .person {
  font-size: 87.5%; }

.slot-breadcrumb {
  margin: 40px 0;
  text-align: center; }

#nav-access-keys,
#utility-bar,
.tab-list {
  text-align: right; }

#utility-bar {
  background: #fafafa;
  border-bottom: 1px solid #f2f2f3; }

#accessibility-panel {
  float: left; }

#nav-access-keys {
  padding: 10px 0;
  font-size: 87.5%;
  display: none; }
  #nav-access-keys a {
    color: #666;
    text-decoration: none;
    margin-right: 20px; }

.hotkey {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 0.25em 0.6em;
  border: 1px solid #ccc;
  border-right-width: 2px;
  border-bottom-width: 2px; }

.slot-nav {
  border-bottom: 1px solid #e6e6e6; }

.main-nav {
  font-size: 81.25%;
  text-align: center; }
  .main-nav .nav__current .nav__caption {
    background: #009DDC;
    color: #fff;
    border: none; }
    .main-nav .nav__current .nav__caption:hover, .main-nav .nav__current .nav__caption:focus, .main-nav .nav__current .nav__caption:visited {
      color: #fff; }
  .main-nav .nav__caption {
    padding: 2em 1.5em;
    color: #666; }
    .main-nav .nav__caption:hover, .main-nav .nav__caption:focus {
      color: #2ac2ff; }
  .main-nav [aria-haspopup='true'] .nav__caption {
    padding-right: 2em; }
    .main-nav [aria-haspopup='true'] .nav__caption:after {
      right: .8em; }

.first-level {
  text-transform: uppercase; }

.widget__title {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: .1em; }

.sidebar .widget {
  margin-bottom: 60px; }

.mpms-news__title {
  color: #009DDC;
  margin-top: 0.5em;
  margin-bottom: 1em;
  line-height: 1.1; }
  .mpms-news__title a {
    text-decoration: none; }
.mpms-news__description {
  /*border-left: $border-secondary-setting;
  padding-left: $internal-spacing;*/
  margin-top: .5em;
  font-size: 81.25%;
  line-height: 1.2; }
.mpms-news--featured {
  /* border-bottom: $border-secondary-setting; */
  padding: 0 0 20px; }
.mpms-news__timestamp {
  color: #666; }
  .mpms-news__timestamp .fa-clock-o {
    margin-left: 1em; }

.list--news {
  max-width: 800px; }
.news__item {
  margin-bottom: 60px; }
.news__headline {
  margin-bottom: 20px;
  line-height: 1.1;
  letter-spacing: -1px;
  word-spacing: .2em; }
  .news__headline a {
    color: #000;
    text-decoration: none; }
    .news__headline a:hover, .news__headline a:focus {
      color: #2ac2ff; }
.news__partial {
  color: #666;
  font-size: 87.5%;
  padding-bottom: 20px; }
.news__picture {
  overflow: hidden;
  margin-bottom: 20px; }
.news__photo {
  width: 100%; }

.action-bar {
  border-top: 1px solid #e6e6e6;
  padding: 20px 0;
  text-align: right; }

/* Main-search */
.form--search {
  display: inline-block;
  *display: inline;
  zoom: 1; }

.search__main-form, .search-bar {
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  background: #000;
  color: #fff;
  padding-left: .8em; }
  .search__main-form ::-webkit-input-placeholder, .search-bar ::-webkit-input-placeholder {
    color: #fff; }
  .search__main-form :-moz-placeholder, .search-bar :-moz-placeholder {
    color: #fff; }
  .search__main-form ::-moz-placeholder, .search-bar ::-moz-placeholder {
    color: #fff; }
  .search__main-form :-ms-input-placeholder, .search-bar :-ms-input-placeholder {
    color: #fff; }
  .search__main-form .button, .search-bar .button {
    border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em; }

.search__keyword {
  background: transparent;
  border: 0;
  padding: .3em .5em; }
  .search__keyword:focus {
    outline: 0;
    border-bottom-color: #00A160; }

.search__powered-by-google {
  margin-top: 10px;
  text-align: right; }

/* Footer*/
.organization__info {
  padding-top: 40px;
  padding-bottom: 40px; }

.place__name {
  font-weight: 700; }

.footer__main-logotype {
  width: 351px; }

.slot-institutional {
  border-top: 1px solid #e6e6e6; }

.input-text {
  border: 1px solid #ccc;
  border-left-width: 3px; }

.select-box {
  border: 2px solid #ccc; }

.counter {
  font-size: 75%;
  font-weight: 400; }

.bg--light-featured {
  background-color: #f2f2f2; }

/* Bloco fundo azul letra branca */
.section__title-container--magazine-like {
  color: #009DDC;
  border-right: 3px solid;
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: right;
  padding: 150px 50px 50px;
  width: 350px;
    /*TODO review this
    @include desktop {
        border-right: 3px solid;
        position: absolute;
        top:    0;
        left:   0;
        bottom: 0;
        text-align: right;
        padding: $magazine-like-unit*2 $magazine-like-unit/2 $magazine-like-unit/2;
        width: 250px;
    }

    @include tablet {
        margin-bottom: $internal-spacing*2;
    }

    @include large-desktop {
        border-right: 3px solid;
        position: absolute;
        top:    0;
        left:   0;
        bottom: 0;
        text-align: right;
        padding: $magazine-like-unit*3 $magazine-like-unit $magazine-like-unit;
        width: $magazine-like-title-width;
    }
*/ }

.page__section--magazine-like {
  position: relative;
  margin-top: 0; }

@media (min-width: 768px) and (max-width: 1023px) {
  .main-content--default {
    padding-left: 20px;
    padding-right: 20px; } }

.page__section--magazine-like .page__content {
  margin-left: 450px;
  padding: 50px;
    /*TODO review this
    @include large-desktop {
        margin-left: $magazine-like-title-width + $magazine-like-unit*2;
        padding:   $magazine-like-unit;
    }

    @include desktop {
        margin-left: 300px;
        padding:   30px;
    }
    */ }

.breadcrumb--magazine-like {
  padding-bottom: 50px; }

.w50 {
  width: 50px; }

/*# sourceMappingURL=style.css.map */
