mixin makeFooter

    footer#main-footer.row.page__footer(role='contentinfo')
        //.row.slot-content-accesskeys.horizontal-alignment--right(style="z-index: 2; position: fixed; bottom: 0; left: 0; right: 0")
            .viewport-framing.center-container
                +button({ inverted: true, href:"#top-of-the-page", style: 'neutral', icon: 'arrow-up', role: 'button' }) Voltar ao topo
        .row.slot-social-media
            .viewport-framing.center-container.horizontal-alignment--right
                .toolbar.vertical-spacing(role="list")
                    +button({borderless: true, href: "fale-conosco", icon: 'envelope'}) Fale Conosco
                    +separator
                    +button({borderless: true, href:"#facebook", icon: 'facebook-square'}) Facebook
                    +button({borderless: true, href:"#twitter", icon: 'twitter'}) Twitter
                    +button({borderless: true, href:"#youtube", icon: 'youtube-play'}) YouTube
        .row.slot-institutional
            .viewport-framing.center-container.media-item.organization__info
                .institutional-info.media__subject
                    p.place__name Procuradoria-Geral de Justi&ccedil;a do Estado de Mato Grosso do Sul
                    address.place__address.text--small
                        p
                            +fa-icon('map-marker')
                            | Rua Pres. Manuel Ferraz de Campos Salles, 214 - Jardim Veraneio - CEP 79031-907 - Campo Grande - MS
                    p.place__telephone.text--small
                        +fa-icon('phone')
                        | Telefone: (67) 3318-2000
                .team-info.media__content.text--small.horizontal-alignment--right
                    img.footer__main-logotype.place__name(src="logotipo.png", alt="Minist&eacute;rio P&uacute;blico de Mato Grosso do Sul")
                    p.place__name Secretaria de Tecnologia da Informa&ccedil;&atilde;o - STI