mixin makeNav

    .row.slot-nav
        nav(role="navigation").
            <ul class="main-nav  nav" role="menubar">
            <li class="nav__item  first-level  nav-root" role="menuitem"><a href="/" class="nav__caption">Principal</a></li>
            <li class="nav__item  first-level" role="menuitem" aria-haspopup="true"><a class="nav__caption" href="/quem-somos">Institucional</a></li>
            <li class="nav__item  first-level" role="menuitem" aria-haspopup="true"><a class="nav__caption" href="#">Procuradorias</a></li>
            <li class="nav__item  first-level  nav__current" role="menuitem" aria-haspopup="true"><span class="nav__caption">Promotorias</span></li>
            <li class="nav__item  first-level" role="menuitem"><a class="nav__caption" href="#5">Atos e Normas</a></li>
            <li class="nav__item  first-level" role="menuitem"><a class="nav__caption" href="#6">Licita&ccedil;&atilde;o</a></li>
            <li class="nav__item  first-level" role="menuitem"><a class="nav__caption" href="/links">Links</a></li>
            <li class="nav__item  first-level" role="menuitem"><a class="nav__caption" href="#8">Intranet</a></li>
            <li class="nav__item  first-level" role="menuitem" aria-haspopup="true"><span class="nav__caption" tabindex="0">Mais</span></li>
            </ul>